@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --yellow: #fdd61d;
    --red: #ff5757;
    --text: #202020;
    --background: #EEEEEE;
    --blue: #2f80ed;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

html,
body {
    overflow-x: hidden;
}