body {
    background-color: var(--blue);
    animation: bodyApear 1s ease-in-out;
}

@keyframes bodyApear {
    0% {
        background-color: var(--yellow);
    }

    100% {
        background-color: var(--blue);
    }
}

#background {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

div.bubble-move {
    position: absolute;
    display: block;
    height: 30vh;
    aspect-ratio: 1/1;
}

div.bubble {
    position: relative;
    display: block;
    background-color: var(--yellow);
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    height: 100%;
    width: 100%;
    transition-duration: 2.5s;
}

div.bubble:hover {
    transform: scale(1.5) !important;
    cursor: pointer;
    z-index: 50;
    transition-duration: 0.3s !important;
}

div.bubble:hover span.filter {
    opacity: 0 !important;
    transition-duration: 0.3s !important;
}

div.bubble img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    object-fit: cover;
    transition-duration: 2.5s;
}

div.bubble span.filter {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #318CFE;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #1B6CFB, -40px 60px 32px #1B6CFB, inset -6px 6px 10px #1B6CFB, inset 2px 6px 10px #1a74e5, inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
    opacity: 0.3;
    transition-duration: 2.5s;
}

div.bubble span.reflection {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #E6FDFB;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    left: 65%;
    top: 15%;
    box-shadow: 16px 40px 0 -10px white;
    opacity: 0.8;
    transition-duration: 10s;
}

div.popup {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    animation: popupApear 0.3s ease-in-out;
    cursor: pointer;
}

@keyframes popupApear {
    0% {
        opacity: 0;
        height: 100%;
        width: 0%;
    }

    100% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
}

div.yellow-circle {
    position: relative;
    border-radius: 50%;
    top: 5vh;
    margin: auto;
    width: 90vh;
    height: 90vh;
    background-color: var(--yellow);
    text-align: center;
}

div.yellow-circle img {
    display: block;
    position: relative;
    height: 40vh;
    aspect-ratio: 1/1;
    left: 50%;
    transform: translateX(-50%);
}

div.yellow-circle p {
    display: block;
    position: relative;
    max-width: 75%;
    left: 50%;
    transform: translateX(-50%);
}
div.yellow-circle h1 {
    font-size: calc(5vh + 15px);
}
div.yellow-circle div {
    display: none;
}